.rightact {
	margin:5px 0;
}
.rightact .smth {
	float:left;
}
.rightact .act {
	float:right;
}
.rightact .paginator {
	margin-top:4px;
	vertical-align:bottom;
}
.dataTable tbody tr.row.current:hover td,
.dataTable tbody tr.row.current td {
	background-color:#ffff78;
}
.dataTable tbody td.emptyContainer a {
	color:#ED1C3F;
	text-decoration:underline;
}
.dataTable tbody td.emptyContainer a:hover {
	text-decoration:none;
}
.headnotify {
	left:0px;
	position:fixed;
	line-height:30px;
	background:#fef5bb;
    background:linear-gradient(to top, #feeb82, #fef5bb);
    border-bottom:1px solid #b4a555;
    height:30px;
    overflow:hidden;
    width:100%;
    margin-top:-30px;
    z-index:99;
    font-size:14px;
}
.headnotify > div {
	float:left;
	width:240px;
	text-align:center;
}
.headnotify > ul {
	padding:0;
	margin:0 0 0 240px;
	list-style:none;
    height:30px;
    overflow:hidden;
    position:relative;
}
.headnotify > ul li {
	display:block;
	margin:0;
	height:30px;
	overflow:hidden;
    position:relative;
}
.headnotify > ul li > div.title {
	float:left;
}
.headnotify > ul li > div.popup-content {
	display:none;
}
.headnotify > ul li > div > i,
.headnotify > ul li > div > span {
	//display:block;
	//float:left;
        
	margin-right:8px;
}
.headnotify > ul li > div > i {
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.headnotify > ul li > a {
	display:block;
	min-width:30px;
	text-align:center;
	float:right;
}
.headnotify > ul li > a.close {
	font-weight:bolder;
}
.headnotify > div > span {
	font-weight:bolder;
} 
body.with-headnotify {
	padding-top:30px;
}

.misc-browser-incomp ul {
	list-style:none;
}
.misc-browser-incomp li {
	display:block;
	line-height:30px;
	padding-left:30px;
	border:1px solid #fff;
	border-radius:4px;
	background-position:2px 50%;
	background-repeat:no-repeat;
}
.misc-browser-incomp li.my {
	border-color:#ccc;
}
.misc-browser-incomp li.chrome {
	background-image:url('/skin/general/img/browser24/Google-Chrome-icon.png');
}
.misc-browser-incomp li.firefox {
	background-image:url('/skin/general/img/browser24/Firefox-icon.png');
}
.misc-browser-incomp li.opera {
	background-image:url('/skin/general/img/browser24/Opera-icon.png');
}
.misc-browser-incomp li.safari {
	background-image:url('/skin/general/img/browser24/Safari-icon.png');
}
.misc-browser-incomp li.ie {
	background-image:url('/skin/general/img/browser24/Internet-ie-icon.png');
}

#certificate-head {
    display: inline-block;
    float: right;
    margin: -29px 20px 0;
    padding: 3px 5px;
    border: 1px solid #ED1C3F;    
}
.certificate-link {
    outline: none;
}
.certifcate-unavailable {
	opacity: 0.5;
}

.certifcate-unavailable a:hover {
	color: inherit !important;
}

.certifcate-unavailable a {
	position: relative;
}

.certifcate-unavailable a:after {
	display: block;
	content: '?';
	position: absolute;
	top: -15px;
	right: -20px;
}

