/* ignore one from layout.css, from default.css: .setup-themes-list-lines ol .input */
#special_settings .content ol li input[type="text"] {
    margin: 0 10px;
}
/* override layout.css */
.info-panel .details .file {
	position: static;
}
/* a way to disable calendar popup IE & other */
a[disabled] {
	pointer-events: none;
}

/* .button is used in old layout.css */
.popupBody .bt,
.btn, div.contentBox a.btn
{
	display: inline-block;
	vertical-align: top;
	color: #FFF;
	font-size: 14px;
	line-height: 28px;
	max-height: 30px;
	border: 0;
	background-color: #083167;
	border-radius: 4px;
	padding: 0 16px 2px;
	cursor: pointer;
}
.popupBody .bt:hover,
.btn:hover {
	color: #FFF;
	background-color: #ED1C3F;
}
.btn .icon {
	margin: -2px -10px 0 0;
}

.btn-big {
	font-size: 18px;
	line-height: 32px;
	max-height: 34px;
	text-transform: uppercase;
}

/* fix main login popup: popup.css:126 */
div.enterPass table.action, div.enterPass table.action a, div.enterPass table.action input {
    color: white;
}

/* force override style from layout.css */
div.content h3.d-blue {
    color: #083167;
}

/* fix padding of buttons with float:right instead of putting inside h3 */
.btn-right {
	float: right;
	margin-left: 16px;
}

/* files disappear die to left:-20000 in layout.css */
.fileContainer .file {
	position: static;
}

/* from layout css */
div.addFiles .button {
    position: static;
    width: auto;
	margin-left: 15px;
}
div.addFiles label {
	line-height: 28px;
}

/* tinymce generates p, so remove margin for .field container of answers in practicums (might be a problem everywhere)*/
.field p {
	margin: 0;
}

div.addFiles .button.bt {
	position: static;
	width: auto;
}

/* dont hide .file */
.section .field div.file {
	position: static;
}

/* hide file input on attach_file */
div.addFiles #fileInputContainer {height:28px;position: absolute;left:-20000px;top: -20000px;}

/* interval date control */
.controlIntervalDate {
	display: inline-block;
}


.login-form .largeWithFieldMessage.noResize .msgBody {
	margin: -10px 0 10px !important;
}
.login-form .largeWithFieldMessage.noResize .msgBody {
	display: block !important;
}
.login-form #errorContainer {
	margin: 0;
}
.login-form .commonError {
	color: #FFF !important;
}