/*ICONS*/
.ico {background: url('/img/ico/icons.png') no-repeat;width:17px;height:17px;display:inline-block;margin-right:5px !important;text-decoration:none !important;}
.btPlusIco {background-position:0 -928px;}
.btMinIco {background-position:0 -945px;}
.btclearPlusIco {background-position:0 -983px;}
.detailsIco {background-position:0 -420px;}
.changeIco {background-position:0 -1px;}
.deleteIco {background-position:4px -86px;}
.cancelIco  {background-position:0 -58px;}
.viewIco  {background-position:0 -369px;}
.addBookmarkIco  {background-position:0 -459px;}
.deleteBookmarkIco  {background-position:0 -479px;}
.innerListIco  {background-position:0 -540px;}
.unsubscribe {background-position:0 -826px;}

.iconBox.hovered .btPlusIco, .btPlusIco:hover {background-position:-32px -928px;}
.iconBox.hovered .btclearPlusIco, .btclearPlusIco:hover {background-position:-32px -983px;}
.iconBox.hovered .btMinIco, .btMinIco:hover {background-position:-32px -945px;}
.iconBox.hovered .detailsIco, .detailsIco:hover {background-position:-31px -420px;}
.iconBox.hovered .changeIco, .changeIco:hover {background-position:-31px -1px;}
.iconBox.hovered .deleteIco, .deleteIco:hover {background-position:-27px -86px;}
.iconBox.hovered .cancelIco, .cancelIco:hover  {background-position:-31px -58px;}
.iconBox.hovered .viewIco, .viewIco:hover  {background-position:-31px -369px;}
.iconBox.hovered .addBookmarkIco, .addBookmarkIco:hover {background-position:-31px -459px;}
.iconBox.hovered .deleteBookmarkIco, .deleteBookmarkIco:hover {background-position:-31px -479px;}
.iconBox.hovered .unsubscribe, .unsubscribe:hover {background-position:-31px -826px;}


	/*special icons*/
	.s-eventUp {background-position:0 -579px;}
	.s-eventDown {background-position:0 -596px;}
	.s-selectMarker {background-position:0 -711px;}
	.s-selectMarkerActive {background-position:0 -723px;}
	.s-liveJournalIco {background: url('/img/ico/gd-element.png') no-repeat 0 -463px;width:24px;height:24px;display:inline-block;text-decoration:none;}
	.s-wordPressIco {background: url('/img/ico/gd-element.png') no-repeat -25px -463px;width:24px;height:24px;display:inline-block;text-decoration:none;}
	.s-googleProfileIco {background: url('/img/ico/gd-element.png') no-repeat -50px -463px;width:24px;height:24px;display:inline-block;text-decoration:none;}
	.s-myOpenIdIco {background: url('/img/ico/gd-element.png') no-repeat -75px -463px;width:24px;height:24px;display:inline-block;text-decoration:none;}

	div.deleteBt, div.editBt, div.historyBt, div.cancelBt, div.unsubscribeBt {margin:15px 15px 0 0;}
	div.deleteBt a, div.historyBt a, div.cancelBt a, div.unsubscribeBt a, div.editBt a {color:#888080 !important;font-size:11px;font-weight:bold;text-transform:uppercase;}
	div.deleteBt a.ico, div.historyBt a.ico, div.cancelBt a.ico, div.editBt a.ico {margin-right:0 !important;}

	div.deleteBt:hover *, div.historyBt:hover *, div.cancelBt:hover *, div.editBt * {color:#ED1C3F;}
	div.deleteBt:hover a.ico  {background-position:-31px -86px}
	div.historyBt:hover a.ico {background-position:-31px -30px}
	div.cancelBt:hover a.ico  {background-position:-31px -58px}

	.gdArrowRight {width:10px;height:7px;background: url('/img/ico/gd-element.png') no-repeat -12px 0;}
	.gdArrowLeft {width:10px;height:7px;background: url('/img/ico/gd-element.png') no-repeat -12px -9px;}
	.gdConfirmClose {width:13px;height:13px;background: url('/img/ico/gd-element.png') no-repeat -27px 0;}
	.gdMarkerClose {width:10px;height:10px;background: url('/img/ico/gd-element.png') no-repeat -55px -9px;}
	.gdLock {width:12px;height:14px;background: url('/img/ico/gd-element.png') no-repeat -31px -75px;}
	.gdMessage {width:12px;height:14px;background: url('/img/ico/gd-element.png') no-repeat -31px -90px;}
	.gdSearch {width:16px;height:14px;background: url('/img/ico/gd-element.png') no-repeat -82px -215px;}
	.gdAttention {width:29px;height:29px;background: url('/img/ico/gd-element.png') no-repeat 0 -162px;display:inline-block;}
	.gdAttentionSmall {width:16px;height:16px;background: url('/img/ico/gd-element.png') no-repeat -30px -163px;display:inline-block;}
	.btOpenId {width:25px;height:25px;background: url('/img/bt/openid.png') no-repeat 0 0;display:inline-block;text-decoration:none;}

	.iconBox {color:#4A4947 !important;font-size:11px !important;text-decoration:none;vertical-align:middle;white-space:nowrap;font-weight:bold;
			cursor:pointer;display:inline-block;height:17px;line-height:17px !important;}
	.iconBox:hover {color:#ED1C3F !important;}



/*NEW_ICONS*/
.ico_new {background: url('/img/ico/icons_new.png') no-repeat;width:17px;height:17px;display:inline-block;margin-right:5px !important;text-decoration:none !important;}
.edit {background-position:-51px -561px;}
.editSmall {background-position:-51px -782px;}
.delete {background-position:-51px -136px;}
.details {background-position:-51px -255px;}
.deleteContactFromGroup {background-position:0px -34px;}
.attention {background-position:-68px -153px;}
.bookmarkAdd {background-position:0 -782px;}
.bookmarkDelete {background-position:0 -799px;}
.invitationDelete {background-position:-51px -135px;}
.invitationsShow {background-position:-51px -612px;}
.decline {background-position:-51px -17px;}
.approve {background-position:-51px 0;}
.remoderation {background-position:-51px -374px;}
.recaptcha {background-position:-51px -374px;}
.reanswer {background-position:-51px -374px;}
.moderatorComment {background-position:-51px -238px;}
.expand {background-position:-51px -170px;}
.collapse {background-position:-51px -187px;}
.preview {background-position:-51px -68px;}
.calendar {background-position:-51px -85px;}
.newMessages {background-position:-68px -34px;}
.newFriends {background-position:-68px -51px;}
.newMessagesAndFriends {background-position:-68px -153px;}
.newUserEvents {background-position:-68px -153px;}
.userLoginAs {background-position:-51px -1394px;}
.popupAllContacts {background-position: 0 -357px;}
.popupContact {background-position: 0 -136px;}
.save {background-position: -51px -1003px;}
.certificateSave {background-position: -51px -1003px;}
.cut {background-position: -51px -1037px;}
.paste {background-position: -51px -1020px;}
.zipIco {background-position:-51px -1070px}
.htmlIco {background-position:-51px -1088px;}
.videoIco {background-position:-51px -1105px;}
.attach {background-position:-51px -1139px;}
.print {background-position:-51px -1156px;}
.markInfo {background-position:-51px -1054px;}
.manualSaveDraft {background-position:-51px -1360px;}
.autoSaveDraft {background-position:-51px -1377px;}
.listingView {background-position:-51px -1479px;}

.blogView {background-position:0 -663px;}
.blogEdit {background-position:-51px -561px;}
.blogDelete {background-position:-51px -136px;}
.blogPostAdd {background-position:0 -731px;}
.blogPostEdit {background-position:-51px -561px;}
.blogPostDelete {background-position:-51px -136px;}
.blogSubscriptionDecline {background-position:0 -748px;}
.blogRoleEdit {background-position:-51px -561px;}
.blogRoleDecline {background-position:0 -204px;}
.blogStaffView {background-position:0 -357px;}
.blogStuffDeletefrom {background-position:0 -391px;}

.contactAdd {background-position:0 0;}
.contactEdit {background-position:-51px -561px;}
.contactDelete {background-position:-51px -136px;}
.contactGroupAdd {background-position:0 -68px;}
.contactGroupEdit {background-position:-51px -561px;}
.contactGroupDelete {background-position:-51px -136px;}
.contactsImport {background-position:0 -119px;}
.contactView {background-position:0 -136px;}
/*.contactGroupView {background-position:0 0;}*/

.classEdit {background-position:-51px -561px;}

.createCourse {background-position:0 -833px;}
.courseView {background-position:0 -816px;}
.courseShow {background-position:-51px -221px;}
.courseHide {background-position:-51px -204px;}
.courseEdit {background-position:-51px -561px;}
.courseDelete {background-position:-51px -136px;}
.courseInfoView {background-position:-51px -255px;}
.courseVersionShow {background-position:-51px -255px;}
.coursesFindByAuthor {background-position:-51px -102px;}
.courseQuestion {background-position:-51px -238px;}
.technicalQuestions {background-position:-51px -238px;}
.materialsAdd {background-position:0 -544px;}
.marketingAgencyToolsAdd {background-position:0 -544px;}
.marketingAgencyToolsRemove {background-position:0 -561px;}
.materialsUpload {background-position:-51px -578px;}
.materialsView {background-position:0 -527px;}
.materialEdit {background-position:-51px -561px;}
.materialCopy {background-position:0 -578px;}
.materialMove {background-position:0 -595px;}
.materialMoveUp {background-position:-51px -272px;}
.materialMoveDown {background-position:-51px -289px;}
.materialHide {background-position:-51px -204px;}
.materialView {background-position:-51px -221px;}
.materialDelete {background-position:-51px -136px;}
.certificationsDetails {background-position:-51px -119px;}
.certificationDetails {background-position:-51px -255px;}
.courseFeedbackAdd {background-position:0 -425px;}
.courseNewEvent {background-position:-68px -884px;}
.moderatorComment {background-position:-51px -1054px;}

.courseUnpublished {background-position:-51px -255px;}
.learningGo {background-position:-51px -306px;}
/*.courseView {background-position:0 0;}*/
.courseStatusNotificationsNotreceive {background-position:0 -340px;}
.courseStatusNotificationsReceive {background-position:0 -271px;}
.materialsView {background-position:0 -527px;}
.courseFeedbackView {background-position:0 -408px;}
.learningClear {background-position:-51px -408px;}
.studentMoveToAnotherVersion {background-position:0 -510px;}
.learningStatistics {background-position:-51px -391px;}
.learningCourseUnsubscribe {background-position:-51px -136px;}
.learningAddSection {background-position:-51px -629px;}
.learningAddMaterial {background-position:-51px -680px;}
.moduleComplete {background-position:0 -1003px;}
.moduleFullComplete {background-position:0 -986px;}

.treeFolder {background-position:-51px -646px;}
.treeMaterial {background-position:-51px -663px;}

.createMeeting {background-position:0px -630px;}
.meetingView {background-position:0 -612px;}
.meetingEdit {background-position:-51px -561px;}
.meetingCancel {background-position:0 -646px;}
.meetingEnd {background-position:-51px -323px;}
.meetingDelete {background-position:-51px -136px;}
.meetingReminder {background-position:-51px -595px;}
.meetingRoleAttendee {background-position:0 -136px;}
.meetingRoleModerator {background-position:-51px -356px;}
.meetingFeedbackAdd {background-position:0 -425px;}
.meetingUnsubscribe {background-position:-52px -799px;}
.meetingPeriodicity {background-position:-52px -1173px;}

.userGroupView {background-position:0 -357px;}
.userGroupEdit {background-position:-51px -561px;}
.userGroupDelete {background-position:-51px -136px;}

.friendsView {background-position:0 -357px;}
.friendAdd {background-position:0 -153px;}
.friendDelete {background-position:-51px -136px;}
.friendDecline {background-position:0 -170px;}

.photoAlbumAdd {background-position:0 -238px;}
.photoAlbumEdit {background-position:-51px -561px;}
.photoAlbumDelete {background-position:-51px -136px;}
.photosEdit {background-position:-51px -697px;}

.userView {background-position:0 0;}
.userIsAuthor {background-position:-84px -697px;width:20px;height:23px;}
.userIsEditor {background-position:-84px -724px;width:20px;height:23px;}
.userEdit {background-position:-51px -561px;}
.beUserEditor {background-position:-51px -833px;}
.inviteUserEditor {background-position:-51px -816px;}
.inviteUser {background-position:0 -187px;}
.ignoreUser {background-position:0 -204px;}
.trustedEditor {background-position:-51px -850px;}
.reviewEditor {background-position:-51px -867px;}

.messageView {background-position:0 -271px;}
.messageDelete {background-position:-51px -136px;}
.messagesShow {background-position:0 -322px;}
.messageSend {background-position:0 -271px;}
.markMessageDelete {background-position:-51px -136px;}
.messageUnsubscribe {background-position:0 -340px;}
.messageSubscribe {background-position:0 -322px;}

.statuses {background-position:0 -407px;}
.friends {background-position:0 -357px;}
.learning {background-position:0 -815px;}
.blogs {background-position:0 -662px;}
.photos {background-position:0 -221px;}
.meetings {background-position:0 -612px;}

.coursesSearch {background-position:0 -815px;}
.usersSearch {background-position:0 -357px;}
.blogsSearch {background-position:0 -662px;}
.photosSearch {background-position:0 -221px;}
.meetingsSearch {background-position:0 -612px;}


.userDesktop {background-position:-51px -731px;}
.userEvents {background-position:-51px -748px;}
.userSchedule {background-position:-51px -748px;}
.userContacts {background-position:0 0;}
.userBoockMarks {background-position:0 -765px;}
.userBalance {background-position:0 -867px;}
.balanceRequested {background-position:0 -884px;}
.balancePending {background-position:0 -901px;}
.balanceApproved {background-position:0 -918px;}
.balanceCancelled {background-position:0 -935px;}
.balanceAll {background-position:0 -952px;}
.markMessageRead {background-position:-51px -765px;}
.markMessageNew {background-position:-51px -34px;}
.newCourseEvent {background-position:-51px -34px;}
.balanceCancelled {background-position:0 -935px;}
.editFee {background-position:0 -969px;}

.approveEditor {background-position:-51px -901px;}
.dataTable.decorateTable.table-list.dialogs .approveEditor {background-position:-51px -14px;}
.dataTable.decorateTable.table-list.dialogs .approveEditor:hover {background-position:-68px -14px;}
.approveAuthor {background-position:-51px -935px;}
.declineEditor {background-position:-51px -918px;}
.declineAuthor {background-position:-51px -952px;}

.editMaxScore {background-position:-51px -969px;}
.editWeight {background-position:0px -1275px;}

.getWidgets {background-position:-51px -986px;}

.classesGroup {background-position:0 -50px;}

.inviteTutor {background-position:0 -510px;}
.removeTutor {background-position:0 -493px;}

.propertyValuesListing {background-position:0 -1020px;}
.setValueToDefault {background-position:0 -1037px;}
.unsetValueToDefault {background-position:0 -1054px;}

.intervals {background-position:-51px -85px;}
.intervalDelete {background-position:-51px -136px;}
.intervalMemberAdd {background-position:0 -1088px;}
.intervalMemberDelete {background-position:0 -1105px;}
.intervalMembers {background-position:0 -1071px;}
.intervalEdit {background-position:-51px -561px;}

.seminars {background-position:0 -1139px;}
.seminarsAdd {background-position:0 -1156px;}
.seminarsDelete {background-position:-51px -136px;}
.seminarsEdit {background-position:-51px -561px;}

.zamok {background-position:-51px -459px;}

.practicum {background-position:0 -1207px;}
.practicumAdd {background-position:0 -1224px;}
.practicumDelete {background-position:-51px -136px;}
.practicumEdit {background-position:-51px -561px;}
.practicumAssign {background-position:0 -595px;}
.practicumCopy {background-position:0 -578px;}
.practicumDetach {background-position:-51px -17px;}
.practicumClipboardCopy {background-position:-51px -629px;}
.practicumClipboardPaste {background-position:-51px -646px;}
.practicumClipboardPasteActive {background-position:-68px -646px;}
.practicumDisplayFullAnswer {background-position:-51px -169px;}
.practicumDisplayFullAnswerBack {background-position:-51px -186px;}

.auditoryTask {background-position:0 -1207px;}
.auditoryTaskDelete {background-position:-51px -136px;}
.auditoryTaskEdit {background-position:-51px -561px;}

.system {background-position:-51px -1190px;}
.systemAdd {background-position:-51px -1207px;}
.systemDelete {background-position:-51px -1224px;}
.systemEdit {background-position:-51px -1241px;}

.netFacebook {background-position:-51px -1258px;}
.netTwitter {background-position:-51px -1275px;}
.netLinkedin {background-position:-51px -1292px;}
.netOpenid {background-position:-51px -1309px;}

.affixingMarks {background-position:0px -1275px;}
.affixingMarksAdd {background-position:0px -1292px;}
.affixingMarksDelete {background-position:0px -1309px;}
.affixingMarksEdit {background-position:0px -1326px;}
.affixingMarksZero {background-position:-51px -153px;}

.applicationForm {background-position:0px -1360px;}
.applicationFormAdd {background-position:0px -1377px;}
.applicationFormDelete {background-position:0px -1394px;}
.applicationFormEdit {background-position:0px -1411px;}

.news {background-position:0px -1343px;}

.multimedia {background:url('/img/ico/extension.png') no-repeat 0 -340px;}

.profileInformationIco {background-position:0 -136px;}
.profileEmploymentIco {background-position:-51px -646px;}
.profileEducationIco {background-position:0 -459px}
.profileSocietiesIco {background-position:0 -1139px;}
.profileAchievementsIco {background-position:-51px -119px;}
.profileFriendsIco {background-position:0 -357px;}
.profileWorksIco {background-position: -51px -1020px;}
.profileBlogsIco {background-position:0 -663px;}
.profileCoursesIco {background-position:0 -815px;}
.profilePhotosIco {background-position:0 -221px;}

.expandProgramModules {background-position: -51px -1412px;}
.collapseProgramModules {background-position: -51px -1429px;}
.expandProgramCourses {background-position: -51px -1446px;}
.collapseProgramCourses {background-position: -51px -1463px;}
.recordBookView {background-position:-51px -1054px;}

.educationDisciplineIco {background-position:-51px -1496px;}
.scheduleIco {background-position:-51px -1513px;}
.writingRetakeIco {background-position:-51px -1530px;}
.documentsIco {background-position:0 -1428px;}
.documentsAddIco {background-position:0 -1445px;}
.curriculumIco {background-position:-51px -1547px;}
.profileIco {background-position:-51px -1564px;}
.balanceIco1 {background-position:-51px -1581px;}
.balanceIco2 {background-position:-51px -1597px;}
.feedbackAndSuggestionsIco {background-position:-51px -1614px;}
.advertisementIco {background-position:-51px -1632px;}
.recordBookIco {background-position: 0 0;}

.logFolderIco {background-position:-68px -646px; margin: 0}
.logFileIco {background-position:-68px -663px; margin: 0}


/*special ico*/
.s-selectMarker {background-position:-54px -547px;}
.s-selectMarkerActive {background-position:-71px -547px}
.occurredFail {background: url('/img/ico/gd-element.png') no-repeat -78px -143px;width: 17px;height: 17px;display: inline-block;}

.loadContactsIco27 {background: url('/img/ico/gd-element.png') no-repeat -27px -520px;width:27px;height:27px;display:inline-block;}
.ratingList {background-position:-51px -340px;}



/*hover icons*/
.iconBox.hovered .edit, .edit:hover {background-position:-68px -561px;}
.iconBox.hovered .editSmall, .editSmall:hover {background-position:-68px -782px;}
.iconBox.hovered .delete, .delete:hover {background-position:-68px -136px;}
.iconBox.hovered .deleteContactFromGroup, .deleteContactFromGroup:hover {background-position:-17px -34px;}
.iconBox.hovered .bookmarkAdd, .bookmarkAdd:hover {background-position:-17px -782px;}
.iconBox.hovered .bookmarkDelete, .bookmarkDelete:hover {background-position:-17px -799px;}
.iconBox.hovered .invitationDelete, .invitationDelete:hover {background-position:-68px -135px;}
.iconBox.hovered .invitationsShow, .invitationsShow:hover {background-position:-68px -612px;}
.iconBox.hovered .decline, .decline:hover {background-position:-68px -17px;}
.iconBox.hovered .approve, .approve:hover {background-position:-68px 0;}
.iconBox.hovered .remoderation, .remoderation:hover {background-position:-68px -374px;}
.iconBox.hovered .recaptcha, .recaptcha:hover {background-position:-68px -374px;}
.iconBox.hovered .reanswer, .reanswer:hover {background-position:-68px -374px;}
.iconBox.hovered .moderatorComment, .moderatorComment:hover {background-position:-68px -238px;}
.iconBox.hovered .courseQuestion, .courseQuestion:hover {background-position:-68px -238px;}
.iconBox.hovered .technicalQuestions, .technicalQuestions:hover {background-position:-68px -238px;}
.iconBox.hovered .expand, .expand:hover {background-position:-68px -170px;}
.iconBox.hovered .collapse, .collapse:hover {background-position:-68px -187px;}
.iconBox.hovered .preview, .preview:hover {background-position:-68px -68px;}
.iconBox.hovered .calendar, .calendar:hover {background-position:-68px -85px;}
.iconBox.hovered .newMessages, .newMessages:hover {background-position:-68px -34px;}
.iconBox.hovered .newCourseEvent, .newCourseEvent:hover {background-position:-68px -34px;}
.iconBox.hovered .newFriends, .newFriends:hover {background-position:-68px -51px;}
.iconBox.hovered .newMessagesAndFriends, .newMessagesAndFriends:hover {background-position:-68px -153px;}
.iconBox.hovered .userLoginAs, .userLoginAs:hover {background-position:-68px -1394px;}
.iconBox.hovered .attention, .attention:hover {background-position:-68px -153px;}
.iconBox.hovered .popupAllContacts, .popupAllContacts:hover {background-position: -17px -357px;}
.iconBox.hovered .popupContact, .popupContact:hover {background-position: -17px -136px;}
.iconBox.hovered .save, .save:hover {background-position: -68px -1003px;}
.iconBox.hovered .certificateSave, .certificateSave:hover {background-position: -68px -1003px;}
.iconBox.hovered .cut, .cut:hover {background-position: -68px -1037px;}
.iconBox.hovered .paste, .paste:hover {background-position: -68px -1020px;}
.iconBox.hovered .zipIco, .zipIco:hover {background-position:-68px -1070px}
.iconBox.hovered .htmlIco, .htmlIco:hover {background-position:-68px -1088px;}
.iconBox.hovered .videoIco, .videoIco:hover {background-position:-68px -1105px;}
.iconBox.hovered .attach, .attach:hover {background-position:-68px -1139px;}
.iconBox.hovered .print, .print:hover {background-position:-68px -1156px;}
.iconBox.hovered .markInfo, .markInfo:hover {background-position:-51px -1054px;}
.iconBox.hovered .manualSaveDraft, .manualSaveDraft:hover {background-position:-68px -1360px;}
.iconBox.hovered .autoSaveDraft, .autoSaveDraft:hover {background-position:-68px -1377px;}
.iconBox.hovered .listingView, .listingView:hover {background-position:-68px -1480px;}

.iconBox.hovered .blogView, .blogView:hover {background-position:-17px -663px;}
.iconBox.hovered .blogEdit, .blogEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .blogDelete, .blogDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .blogPostAdd, .blogPostAdd:hover {background-position:-17px -731px;}
.iconBox.hovered .blogPostEdit, .blogPostEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .blogPostDelete, .blogPostDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .blogSubscriptionDecline, .blogSubscriptionDecline:hover {background-position:-17px -748px;}
.iconBox.hovered .blogRoleEdit, .blogRoleEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .blogRoleDecline, .blogRoleDecline:hover {background-position:-17px -204px;}
.iconBox.hovered .blogStaffView, .blogStaffView:hover {background-position:-17px -357px;}
.iconBox.hovered .blogStuffDeletefrom, .blogStuffDeletefrom:hover {background-position:-17px -391px;}

.iconBox.hovered .contactAdd, .contactAdd:hover {background-position:-17px 0;}
.iconBox.hovered .contactEdit, .contactEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .contactDelete, .contactDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .contactGroupAdd, .contactGroupAdd:hover {background-position:-17px -68px;}
.iconBox.hovered .contactGroupEdit, .contactGroupEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .contactGroupDelete, .contactGroupDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .contactsImport, .contactsImport:hover {background-position:-17px -119px;}
.iconBox.hovered .contactView , .contactView:hover {background-position:-17px -136px;}
/*.iconBox.hovered .contactGroupView, .contactGroupView:hover {background-position:-17px 0;}*/

.iconBox.hovered .createCourse, .createCourse:hover {background-position:-17px -833px;}
.iconBox.hovered .courseView, .courseView:hover {background-position:-17px -816px;}
.iconBox.hovered .courseShow, .courseShow:hover {background-position:-68px -221px;}
.iconBox.hovered .courseHide, .courseHide:hover {background-position:-68px -204px;}
.iconBox.hovered .courseEdit, .courseEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .classEdit, .classEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .courseDelete, .courseDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .courseInfoView, .courseInfoView:hover {background-position:-68px -255px;}
.iconBox.hovered .courseVersionShow, .courseVersionShow:hover {background-position:-68px -255px;}
.iconBox.hovered .coursesFindByAuthor, .coursesFindByAuthor:hover {background-position:-68px -102px;}
.iconBox.hovered .materialsAdd, .materialsAdd:hover {background-position:-17px -544px;}
.iconBox.hovered .marketingAgencyToolsAdd, .marketingAgencyToolsAdd:hover {background-position:-17px -544px;}
.iconBox.hovered .marketingAgencyToolsRemove, .marketingAgencyToolsRemove:hover {background-position:-17px -561px;}
.iconBox.hovered .materialsUpload, .materialsUpload:hover {background-position:-68px -578px;}
.iconBox.hovered .materialsView, .materialsView:hover {background-position:-17px -527px;}
.iconBox.hovered .materialEdit, .materialEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .materialCopy, .materialCopy:hover {background-position:-17px -578px;}
.iconBox.hovered .materialMove, .materialMove:hover {background-position:-17px -595px;}
.iconBox.hovered .materialMoveUp, .materialMoveUp:hover {background-position:-68px -272px;}
.iconBox.hovered .materialMoveDown, .materialMoveDown:hover {background-position:-68px -289px;}
.iconBox.hovered .materialHide, .materialHide:hover {background-position:-68px -204px;}
.iconBox.hovered .materialView, .materialView:hover {background-position:-68px -221px;}
.iconBox.hovered .materialDelete, .materialDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .certificationsDetails, .certificationsDetails:hover {background-position:-68px -119px;}
.iconBox.hovered .certificationDetails, .certificationDetails:hover {background-position:-68px -255px;}
.iconBox.hovered .courseFeedbackAdd, .courseFeedbackAdd:hover {background-position:-17px -425px;}
.iconBox.hovered .courseNewEvent, .courseNewEvent:hover {background-position:-68px -884px;}
.iconBox.hovered .moderatorComment, .moderatorComment:hover {background-position:-51px -1054px;}

.iconBox.hovered .courseUnpublished, .courseUnpublished:hover {background-position:-68px -255px;}
.iconBox.hovered .learningGo, .learningGo:hover {background-position:-68px -306px;}
/*.iconBox.hovered .courseView, .courseView:hover {background-position:-17px 0;}*/
.iconBox.hovered .courseStatusNotificationsNotreceive, .courseStatusNotificationsNotreceive:hover {background-position:-17px -340px;}
.iconBox.hovered .courseStatusNotificationsReceive, .courseStatusNotificationsReceive:hover {background-position:-17px -271px;}
.iconBox.hovered .materialsView, .materialsView:hover {background-position:-17px -527px;}
.iconBox.hovered .courseFeedbackView, .courseFeedbackView:hover {background-position:-17px -408px;}
.iconBox.hovered .learningClear, .learningClear:hover {background-position:-68px -408px;}
.iconBox.hovered .studentMoveToAnotherVersion, .studentMoveToAnotherVersion:hover {background-position:-17px -510px;}
.iconBox.hovered .learningStatistics, .learningStatistics:hover {background-position:-68px -391px;}
.iconBox.hovered .learningCourseUnsubscribe, .learningCourseUnsubscribe:hover {background-position:-68px -136px;}
.iconBox.hovered .learningAddSection, .learningAddSection:hover {background-position:-68px -629px;}
.iconBox.hovered .learningAddMaterial, .learningAddMaterial:hover {background-position:-68px -680px;}
.iconBox.hovered .moduleComplete, .moduleComplete:hover {background-position:-17px -1003px;}
.iconBox.hovered .moduleFullComplete, .moduleFullComplete:hover {background-position:-17px -986px;}


.iconBox.hovered .treeFolder, .treeFolder:hover {background-position:-68px -646px;}
.iconBox.hovered .treeMaterial, .treeMaterial:hover {background-position:-68px -663px;}

.iconBox.hovered .createMeeting, .createMeeting:hover {background-position:-17px -630px;}
.iconBox.hovered .meetingView, .meetingView:hover {background-position:-17px -612px;}
.iconBox.hovered .meetingEdit, .meetingEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .meetingCancel, .meetingCancel:hover {background-position:-17px -646px;}
.iconBox.hovered .meetingEnd, .meetingEnd:hover {background-position:-68px -323px;}
.iconBox.hovered .meetingDelete, .meetingDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .meetingReminder, .meetingReminder:hover {background-position:-68px -595px;}
.iconBox.hovered .meetingRoleAttendee, .meetingRoleAttendee:hover {background-position:-17px -136px;}
.iconBox.hovered .meetingRoleModerator, .meetingRoleModerator:hover {background-position:-68px -356px;}
.iconBox.hovered .meetingFeedbackAdd, .meetingFeedbackAdd:hover {background-position:-17px -425px;}
.iconBox.hovered .meetingUnsubscribe, .meetingUnsubscribe:hover {background-position:-69px -799px;}
.iconBox.hovered .meetingPeriodicity, .meetingPeriodicity:hover {background-position:-68px -1173px;}

.iconBox.hovered .userGroupView, .userGroupView:hover {background-position:-17px -357px;}
.iconBox.hovered .userGroupEdit, .userGroupEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .userGroupDelete, .userGroupDelete:hover {background-position:-68px -136px;}

.iconBox.hovered .friendsView, .friendsView:hover {background-position:-17px -357px;}
.iconBox.hovered .friendAdd, .friendAdd:hover {background-position:-17px -153px;}
.iconBox.hovered .friendDelete, .friendDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .friendDecline, .friendDecline:hover {background-position:-17px -170px;}

.iconBox.hovered .photoAlbumAdd, .photoAlbumAdd:hover {background-position:-17px -238px;}
.iconBox.hovered .photoAlbumEdit, .photoAlbumEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .photoAlbumDelete, .photoAlbumDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .photosEdit, .photosEdit:hover {background-position:-68px -697px;}

.iconBox.hovered .userView, .userView:hover {background-position:-17px 0px;}
.iconBox.hovered .userIsAuthor, .userIsAuthor:hover {background-position:-84px -697px;width:20px;height:23px;}
.iconBox.hovered .userEdit, .userEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .beUserEditor, .beUserEditor:hover {background-position:-68px -833px;}
.iconBox.hovered .inviteUserEditor, .inviteUserEditor:hover {background-position:-68px -816px;}
.iconBox.hovered .inviteUser, .inviteUser:hover {background-position:-17px -187px;}
.iconBox.hovered .ignoreUser, .ignoreUser:hover {background-position:-17px -204px;}
.iconBox.hovered .trustedEditor, .trustedEditor:hover {background-position:-68px -850px;}
.iconBox.hovered .reviewEditor, .reviewEditor:hover {background-position:-68px -867px;}


.iconBox.hovered .messageView, .messageView:hover {background-position:-17px -271px;}
.iconBox.hovered .messageDelete, .messageDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .messagesShow, .messagesShow:hover {background-position:-17px -322px;}
.iconBox.hovered .messageSend, .messageSend:hover {background-position:-17px -271px;}
.iconBox.hovered .markMessageDelete, .markMessageDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .messageUnsubscribe, .messageUnsubscribe:hover {background-position:-17px -340px;}
.iconBox.hovered .messageSubscribe, .messageSubscribe:hover {background-position:-17px -322px;}


.iconBox.hovered .statuses, .statuses:hover {background-position:-17px -407px;}
.iconBox.hovered .friends, .friends:hover {background-position:-17px -357px;}
.iconBox.hovered .learning, .learning:hover {background-position:-17px -815px;}
.iconBox.hovered .blogs, .blogs:hover {background-position:-17px -662px;}
.iconBox.hovered .photos, .photos:hover {background-position:-17px -221px;}
.iconBox.hovered .meetings, .meetings:hover {background-position:-17px -612px;}

.iconBox.hovered .coursesSearch, .coursesSearch:hover {background-position:-17px -815px;}
.iconBox.hovered .usersSearch, .usersSearch:hover {background-position:-17px -357px;}
.iconBox.hovered .blogsSearch, .blogsSearch:hover {background-position:-17px -662px;}
.iconBox.hovered .photosSearch, .photosSearch:hover {background-position:-17px -221px;}
.iconBox.hovered .meetingsSearch, .meetingsSearch:hover {background-position:-17px -612px;}

.iconBox.hovered .userDesktop, .userDesktop:hover {background-position:-68px -731px;}
.iconBox.hovered .userEvents, .userEvents:hover {background-position:-68px -748px;}
.iconBox.hovered .userContacts, .userContacts:hover {background-position:-17px 0;}
.iconBox.hovered .userBoockMarks, .userBoockMarks:hover{background-position:-17px -765px;}
.iconBox.hovered .userBalance, .userBalance:hover {background-position:-17px -867px;}
.iconBox.hovered .balanceRequested, .balanceRequested:hover {background-position:-17px -884px;}
.iconBox.hovered .balancePending, .balancePending:hover {background-position:-17px -901px;}
.iconBox.hovered .balanceApproved, .balanceApproved:hover {background-position:-17px -918px;}
.iconBox.hovered .balanceCancelled, .balanceCancelled:hover {background-position:-17px -935px;}
.iconBox.hovered .balanceAll, .balanceAll:hover {background-position:-17px -952px;}
.iconBox.hovered .markMessageRead, .markMessageRead:hover {background-position:-68px -765px;}
.iconBox.hovered .markMessageNew, .markMessageNew:hover {background-position:-68px -34px;}
.iconBox.hovered .editFee, .editFee:hover {background-position:-17px -969px;}

.iconBox.hovered .approveEditor, .approveEditor:hover {background-position:-68px -901px;}
.dataTable.decorateTable.table-list.dialogs, .approveEditor:hover {background-position:-68px -14px;}
.iconBox.hovered .approveAuthor, .approveAuthor:hover {background-position:-68px -935px;}
.iconBox.hovered .declineEditor, .declineEditor:hover {background-position:-68px -918px;}
.iconBox.hovered .declineAuthor, .declineAuthor:hover {background-position:-68px -952px;}

.iconBox.hovered .editMaxScore, .editMaxScore:hover {background-position:-68px -969px;}
.iconBox.hovered .editWeight, .editWeight:hover {background-position:-17px -1275px;}

.iconBox.hovered .getWidgets, .getWidgets:hover {background-position:-68px -986px;}

.iconBox.hovered .classesGroup , .classesGroup:hover {background-position:-17px -50px;}

.iconBox.hovered .inviteTutor, .inviteTutor:hover {background-position:-17px -510px;}
.iconBox.hovered .removeTutor, .removeTutor:hover {background-position:-17px -493px;}

.iconBox.hovered .propertyValuesListing, .propertyValuesListing:hover {background-position:-17px -1020px;}
.iconBox.hovered .setValueToDefault, .setValueToDefault:hover {background-position:-17px -1037px;}
.iconBox.hovered .unsetValueToDefault, .unsetValueToDefault:hover {background-position:-17px -1054px;}


.iconBox.hovered .intervals, .intervals:hover {background-position:-68px -85px;}
.iconBox.hovered .intervalDelete, .intervalDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .intervalMemberAdd, .intervalMemberAdd:hover {background-position:-17px -1088px;}
.iconBox.hovered .intervalMemberDelete, .intervalMemberDelete:hover {background-position:-17px -1105px;}
.iconBox.hovered .intervalMembers, .intervalMembers:hover {background-position:-17px -1071px;}
.iconBox.hovered .intervalEdit, .intervalEdit:hover {background-position:-68px -561px;}

.iconBox.hovered .seminars, .seminars:hover {background-position:-17px -1139px;}
.iconBox.hovered .seminarsAdd, .seminarsAdd:hover {background-position:-17px -1156px;}
.iconBox.hovered .seminarsDelete, .seminarsDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .seminarsEdit, .seminarsEdit:hover {background-position:-68px -561px;}

.iconBox.hovered .zamok, .zamok:hover {background-position:-68px -459px;}
.iconBox.hovered .practicum, .practicum:hover {background-position:-17px -1207px;}
.iconBox.hovered .practicumAdd, .practicumAdd:hover {background-position:-17px -1224px;}
.iconBox.hovered .practicumDelete, .practicumDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .practicumEdit, .practicumEdit:hover {background-position:-68px -561px;}
.iconBox.hovered .practicumAssign, .practicumAssign:hover {background-position:-17px -595px;}
.iconBox.hovered .practicumCopy, .practicumCopy:hover {background-position:-17px -578px;}
.iconBox.hovered .practicumDetach, .practicumDetach:hover {background-position:-68px -17px;}
.iconBox.hovered .practicumClipboardCopy, .practicumClipboardCopy:hover {background-position:-68px -629px;}
.iconBox.hovered .practicumDisplayFullAnswer, .practicumDisplayFullAnswer:hover {background-position:-68px -169px;}
.iconBox.hovered .practicumDisplayFullAnswerBack, .practicumDisplayFullAnswerBack:hover {background-position:-68px -186px;}

.iconBox.hovered .auditoryTask, .auditoryTask:hover {background-position:-17px -1207px;}
.iconBox.hovered .auditoryTaskDelete, .auditoryTaskDelete:hover {background-position:-68px -136px;}
.iconBox.hovered .auditoryTaskEdit, .auditoryTaskEdit:hover {background-position:-68px -561px;}

.iconBox.hovered .system, .system:hover {background-position:-68px -1190px;}
.iconBox.hovered .systemAdd, .systemAdd:hover {background-position:-68px -1207px;}
.iconBox.hovered .systemDelete, .systemDelete:hover {background-position:-68px -1224px;}
.iconBox.hovered .systemEdit, .systemEdit:hover {background-position:-68px -1241px;}

.iconBox.hovered .netFacebook, .netFacebook:hover {background-position:-68px -1258px;}
.iconBox.hovered .netTwitter, .netTwitter:hover {background-position:-68px -1275px;}
.iconBox.hovered .netLinkedin, .netLinkedin:hover {background-position:-68px -1292px;}
.iconBox.hovered .netOpenid, .netOpenid:hover {background-position:-68px -1309px;}


.iconBox.hovered .affixingMarks, .affixingMarks:hover {background-position:-17px -1275px;}
.iconBox.hovered .affixingMarksAdd, .affixingMarksAdd:hover {background-position:-17px -1292px;}
.iconBox.hovered .affixingMarksDelete, .affixingMarksDelete:hover {background-position:-17px -1309px;}
.iconBox.hovered .affixingMarksEdit, .affixingMarksEdit:hover {background-position:-17px -1326px;}
.iconBox.hovered .affixingMarksZero, .affixingMarksZero:hover {background-position:-68px -153px;}

.iconBox.hovered .applicationForm, .applicationForm:hover {background-position:-17px -1360px;}
.iconBox.hovered .applicationFormAdd, .applicationFormAdd:hover {background-position:-17px -1377px;}
.iconBox.hovered .applicationFormDelete, .applicationFormDelete:hover {background-position:-17px -1394px;}
.iconBox.hovered .applicationFormEdit, .applicationFormEdit:hover {background-position:-17px -1411px;}



.iconBox.hovered .news, .news:hover {background-position:-17px -1343px;}

.iconBox.hovered .video, .video:hover {background-position: -17px -289px;}
.iconBox.hovered .multimedia, .multimedia:hover  {background-position: -17px -340px;}

.iconBox.hovered .profileInformationIco, .profileInformationIco:hover {background-position:-17px -136px;}
.iconBox.hovered .profileEmploymentIco, .profileEmploymentIco:hover {background-position:-68px -646px}
.iconBox.hovered .profileEducationIco, .profileEducationIco:hover {background-position:-17px -459px;}
.iconBox.hovered .profileSocietiesIco, .profileSocietiesIco:hover {background-position:-17px -1139px;}
.iconBox.hovered .profileAchievementsIco, .profileAchievementsIco:hover {background-position:-68px -119px;}
.iconBox.hovered .profileFriendsIco, .profileFriendsIco:hover {background-position:-17px -357px;}
.iconBox.hovered .profileWorksIco, .profileWorksIco:hover {background-position: -68px -1020px;}
.iconBox.hovered .profileBlogsIco, .profileBlogsIco:hover {background-position:-17px -663px;}
.iconBox.hovered .profileCoursesIco, profileCoursesIco:hover {background-position:-17px -815px;}
.iconBox.hovered .profilePhotosIco, .profilePhotosIco:hover {background-position:-17px -221px;}

.iconBox.hovered .expandProgramModules, .expandProgramModules:hover {background-position: -68px -1412px;}
.iconBox.hovered .collapseProgramModules, .collapseProgramModules:hover {background-position: -68px -1429px;}
.iconBox.hovered .expandProgramCourses, .expandProgramCourses:hover {background-position: -68px -1446px;}
.iconBox.hovered .collapseProgramCourses, .collapseProgramCourses:hover {background-position: -68px -1463px;}
.iconBox.hovered .recordBookView, .recordBookView:hover {background-position:-51px -1054px;}
.iconBox.hovered .ratingList, .ratingList:hover {background-position:-68px -340px;}


.iconBox.hovered .educationDisciplineIco, .educationDisciplineIco:hover {background-position:-68px -1496px;}
.iconBox.hovered .scheduleIco, .scheduleIco:hover {background-position:-68px -1513px;}
.iconBox.hovered .writingRetakeIco, .writingRetakeIco:hover {background-position:-68px -1530px;}
.iconBox.hovered .documentsIco, .documentsIco:hover {background-position:-17px -1428px;}
.iconBox.hovered .documentsAddIco, .documentsAddIco:hover {background-position:-17px -1445px;}
.iconBox.hovered .curriculumIco, .curriculumIco:hover {background-position:-68px -1547px;}
.iconBox.hovered .profileIco, .profileIco:hover {background-position:-68px -1564px;}
.iconBox.hovered .balanceIco1, .balanceIco1:hover {background-position:-68px -1581px;}
.iconBox.hovered .balanceIco2, .balanceIco2:hover {background-position:-68px -1597px;}
.iconBox.hovered .feedbackAndSuggestionsIco, .feedbackAndSuggestionsIco:hover {background-position:-68px -1614px;}
.iconBox.hovered .advertisementIco, .advertisementIco:hover {background-position:-68px -1632px;}
.iconBox.hovered .recordBookIco, .recordBookIco:hover {background-position:-17px 0;}


/*END ICONS*/






/*Extension*/
div.editMaterials .editMaterialTree li.section a.clicked  ins, div.editMaterials .editMaterialTree li.section:hover > a ins {background-position: -17px -306px !important;}
div.editMaterials .editMaterialTree li.section > a ins {background-position: 0 -306px !important;}
div.editMaterials .editMaterialTree li.material a.clicked ins, div.editMaterials .editMaterialTree li.material:hover > a ins {background-position: -17px -238px !important;}
div.editMaterials .editMaterialTree li.material > a ins {background-position: 0 -238px !important;}
div.editMaterials .editMaterialTree li.zipMaterial a.clicked ins, div.editMaterials .editMaterialTree li.zipMaterial:hover > a ins {background-position: -17px -255px !important;}
div.editMaterials .editMaterialTree li.zipMaterial > a ins {background-position: 0 -255px !important;}
div.editMaterials .editMaterialTree li.videoMaterial a.clicked ins, div.editMaterials .editMaterialTree li.videoMaterial:hover > a ins {background-position: -17px -289px !important;}
div.editMaterials .editMaterialTree li.videoMaterial > a ins {background-position: 0 -289px !important;}
div.editMaterials .editMaterialTree li.errorVideoMaterial a.clicked ins, div.editMaterials .editMaterialTree li.errorVideoMaterial:hover > a ins {background-position: -17px -391px !important;}
div.editMaterials .editMaterialTree li.errorVideoMaterial > a ins {background-position: 0 -391px !important;}
div.editMaterials .editMaterialTree li.docMaterial a.clicked ins, div.editMaterials .editMaterialTree li.docMaterial:hover > a ins {background-position: -17px 0 !important;}
div.editMaterials .editMaterialTree li.docMaterial > a ins {background-position: 0 0 !important;}
div.editMaterials .editMaterialTree li.docxMaterial a.clicked ins, div.editMaterials .editMaterialTree li.docxMaterial:hover > a ins {background-position: -17px -17px !important;}
div.editMaterials .editMaterialTree li.docxMaterial > a ins {background-position: 0 -17px !important;}
div.editMaterials .editMaterialTree li.odtMaterial a.clicked ins, div.editMaterials .editMaterialTree li.odtMaterial:hover > a ins {background-position: -17px -34px !important;}
div.editMaterials .editMaterialTree li.odtMaterial > a ins {background-position: 0 -34px !important;}
div.editMaterials .editMaterialTree li.pdfMaterial a.clicked ins, div.editMaterials .editMaterialTree li.pdfMaterial:hover > a ins {background-position: -17px -51px !important;}
div.editMaterials .editMaterialTree li.pdfMaterial > a ins {background-position: 0 -51px !important;}
div.editMaterials .editMaterialTree li.xpsMaterial a.clicked ins, div.editMaterials .editMaterialTree li.xpsMaterial:hover > a ins {background-position: -17px -238px !important;}
div.editMaterials .editMaterialTree li.xpsMaterial > a ins {background-position: 0 -238px !important;}
div.editMaterials .editMaterialTree li.xlsMaterial a.clicked ins, div.editMaterials .editMaterialTree li.xlsMaterial:hover > a ins {background-position: -17px -68px !important;}
div.editMaterials .editMaterialTree li.xlsMaterial > a ins {background-position: 0 -68px !important;}
div.editMaterials .editMaterialTree li.xlsxMaterial a.clicked ins, div.editMaterials .editMaterialTree li.xlsxMaterial:hover > a ins {background-position: -17px -86px !important;}
div.editMaterials .editMaterialTree li.xlsxMaterial > a ins {background-position: 0 -86px !important;}
div.editMaterials .editMaterialTree li.pptMaterial a.clicked ins, div.editMaterials .editMaterialTree li.pptMaterial:hover > a ins {background-position: -17px -102px !important;}
div.editMaterials .editMaterialTree li.pptMaterial > a ins {background-position: 0 -102px !important;}
div.editMaterials .editMaterialTree li.pptxMaterial a.clicked ins, div.editMaterials .editMaterialTree li.pptxMaterial:hover > a ins {background-position: -17px -119px !important;}
div.editMaterials .editMaterialTree li.pptxMaterial > a ins {background-position: 0 -119px !important;}
div.editMaterials .editMaterialTree li.dfxMaterial a.clicked ins, div.editMaterials .editMaterialTree li.dfxMaterial:hover > a ins {background-position: -17px -238px !important;}
div.editMaterials .editMaterialTree li.dfxMaterial > a ins {background-position: 0 -238px !important;}
div.editMaterials .editMaterialTree li.epsMaterial a.clicked ins, div.editMaterials .editMaterialTree li.epsMaterial:hover > a ins {background-position: -17px -136px !important;}
div.editMaterials .editMaterialTree li.epsMaterial > a ins {background-position: 0 -136px !important;}
div.editMaterials .editMaterialTree li.psdMaterial a.clicked ins, div.editMaterials .editMaterialTree li.psdMaterial:hover > a ins {background-position: -17px -153px !important;}
div.editMaterials .editMaterialTree li.psdMaterial > a ins {background-position: 0 -153px !important;}
div.editMaterials .editMaterialTree li.psMaterial a.clicked ins, div.editMaterials .editMaterialTree li.psMaterial:hover > a ins {background-position: -17px -170px !important;}
div.editMaterials .editMaterialTree li.psMaterial > a ins {background-position: 0 -170px !important;}
div.editMaterials .editMaterialTree li.svgMaterial a.clicked ins, div.editMaterials .editMaterialTree li.svgMaterial:hover > a ins {background-position: -17px -187px !important;}
div.editMaterials .editMaterialTree li.svgMaterial > a ins {background-position: 0 -187px !important;}
div.editMaterials .editMaterialTree li.tifMaterial a.clicked ins, div.editMaterials .editMaterialTree li.tifMaterial:hover > a ins {background-position: -17px -221px !important;}
div.editMaterials .editMaterialTree li.tifMaterial > a ins {background-position: 0 -221px !important;}
div.editMaterials .editMaterialTree li.ttfMaterial a.clicked ins, div.editMaterials .editMaterialTree li.ttfMaterial:hover > a ins {background-position: -17px -204px !important;}
div.editMaterials .editMaterialTree li.ttfMaterial > a ins {background-position: 0 -204px !important;}
div.editMaterials .editMaterialTree li.gifMaterial a.clicked ins, div.editMaterials .editMaterialTree li.gifMaterial:hover > a ins {background-position: -17px -323px !important;}
div.editMaterials .editMaterialTree li.gifMaterial > a ins {background-position: 0 -323px !important;}
div.editMaterials .editMaterialTree li.jpgMaterial a.clicked ins, div.editMaterials .editMaterialTree li.jpgMaterial:hover > a ins {background-position: -17px -340px !important;}
div.editMaterials .editMaterialTree li.jpgMaterial > a ins {background-position: 0 -340px !important;}
div.editMaterials .editMaterialTree li.jpegMaterial a.clicked ins, div.editMaterials .editMaterialTree li.jpegMaterial:hover > a ins {background-position: -17px -357px !important;}
div.editMaterials .editMaterialTree li.jpegMaterial > a ins {background-position: 0 -357px !important;}
div.editMaterials .editMaterialTree li.pngMaterial a.clicked ins, div.editMaterials .editMaterialTree li.pngMaterial:hover > a ins {background-position: -17px -373px !important;}
div.editMaterials .editMaterialTree li.pngMaterial > a ins {background-position: 0 -373px !important;}
div.editMaterials .editMaterialTree li.bmpMaterial a.clicked ins, div.editMaterials .editMaterialTree li.bmpMaterial:hover > a ins {background-position: -17px -357px !important;}
div.editMaterials .editMaterialTree li.bmpMaterial > a ins {background-position: 0 -357px !important;}


.profileContactDetailsIco {background-position:-17px -271px;}
.profileContactDetailsIco:hover {background-position:-17px -271px;}
.profileCommunitiesIco {background-position:-17px -357px;}
.profileCommunitiesIco:hover {background-position:-17px -357px;}
.profilePersonalInformationIco {background-position:-17px 0;}
.profilePersonalInformationIco:hover {background-position:-17px 0;}
.currentPositionIco {background-position:-68px -356px;}
.currentPositionIco:hover {background-position:-68px -356px;}
.previousPositionIco {background-position:-17px -1071px;}
.previousPositionIco:hover {background-position:-17px -1071px;}
.profileResumeIco {background-position:-68px -816px;}
.profileResumeIco:hover {background-position:-68px -816px;}
.profileCollegeIco {background-position:-17px -578px;}
.profileCollegeIco:hover {background-position:-17px -578px;}
.profileHighSchoolIco {background-position:-17px -527px;}
.profileHighSchoolIco:hover {background-position:-17px -527px;}

.canNotDeleteMessageNow {background-position:-51px -255px;}
.iconBox.hovered .canNotDeleteMessageNow, .canNotDeleteMessageNow:hover {background-position:-68px -255px;}
