/* ======== */
/* Default */

body {
	background: #FFF;
}



/* ======= */
/* Layout */

/* Hidden elements */
#user-notice,
#user-menu,
#top-menu,
#breadcrumbs,
#bottom-menu,
.drop-menu-big,
.button {
	display: none;
}

#page {
	overflow: visible;
	padding-bottom: 50px;
}

#footer {
	height: 40px;
	position: static;
}

