@font-face {
    font-family: "Mabry Pro";
    src: url("Mabry%20Pro.otf") format("opentype");
}
@font-face {
    font-family: "Mabry Pro Light";
    src: url("Mabry%20Pro%20Light.otf") format("opentype");
}
@font-face {
    font-family: "Mabry Pro Medium";
    src: url("Mabry%20Pro%20Medium.otf") format("opentype");
}
@font-face {
    font-family: "Mabry Pro Bold";
    src: url("Mabry%20Pro%20Bold.otf") format("opentype");
}
