/*xlsUnLoadH*/
.xlsArrow   { font-size: 10pt;  }
.textUpload { font-size: 10pt;}
.xls-a      { cursor: pointer;display: inline-block;  font-size: 10pt; color: #747474}
.xls-img    { margin-bottom: -3px; }
.stopXLS    { font-size: 10pt; color: red;  margin-left: 5px; cursor: pointer; }
.stopXLS:hover  { text-decoration: underline; }
.unloadXls      { display: inline; cursor: pointer; color: #747474;}
.unloadXls:hover{ text-decoration: underline;}
/*xlsUnLoadH*/
/*xlsUnLoadH*/
.xlsArrow_all   { font-size: 10pt;  }
.textUpload_all { font-size: 10pt;}
.xls-a_all      { cursor: pointer;display: inline-block;  font-size: 10pt; color: #747474}
.xls-img_all    { margin-bottom: -3px; }
.stopXLS_all    { font-size: 10pt; color: red;  margin-left: 5px; cursor: pointer; }
.stopXLS_all:hover  { text-decoration: underline; }
.unloadXls_all      { display: inline; cursor: pointer; color: #747474;}
.unloadXls_all:hover{ text-decoration: underline;}
/*xlsUnLoadH*/ 